{# templates/admin/dashboard.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}CvticBlog{% endblock %}

{% block content %}
    <div class="col">
        <h1>Bienvenue dans l'administration de CvticBlog</h1>
        <div>
            <p>Votre contenu personnalisé ici...</p>
        </div>
    </div>
{% endblock %}
